@*<div class="row" style="display: none;">
    <div class="col-sm-6">
        <div class="p-3 bg-primary-800 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <span id="ph">354.10 k</span>
                    <small class="m-0 l-h-n">Production</small>
                </h3>
            </div>
            <i class="fal fa-truck-monster position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="p-3 bg-info-800 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <span id="tss">201.35 k</span>
                    <small class="m-0 l-h-n">Shipping</small>
                </h3>
            </div>
            <i class="fal fa-ship position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="p-3 bg-success-800 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <span id="cod">17.02 M</span>
                    <small class="m-0 l-h-n">Sales</small>
                </h3>
            </div>
            <i class="fal fa-money-check position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="p-3 bg-danger-800 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    <span id="nh3n">1</span>
                    <small class="m-0 l-h-n">Incidents</small>
                </h3>
            </div>
            <i class="fal fa-exclamation-triangle position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
</div>
<div class="row"  style="display: none;">
    <div class="col-12">
        <div style="position: relative; overflow: hidden; padding-top: 56.25%;">
            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0;"
                    src="https://app.powerbi.com/view?r=eyJrIjoiZWU0YWE1YWEtMjJmOS00MTRjLThkMzYtMjYxYjgwMGJjNTlkIiwidCI6IjFiNzYwNDc2LWMyZGMtNDY5NS04MjUwLWQzN2VjZTZiYzk0MiIsImMiOjEwfQ%3D%3D">
            </iframe>
        </div>
    </div>
</div>*@

@section ScriptsBlock
{
    <script src="~/js/statistics/peity/peity.bundle.js"></script>
    <script src="~/js/statistics/flot/flot.bundle.js"></script>
    <script src="~/js/statistics/easypiechart/easypiechart.bundle.js"></script>    
    <script defer src="~/app/areas/data/dashboard/js/index.js?_=@DateTime.Now.Ticks"></script>
}