<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/_Head.cshtml" />
    @RenderSection("HeadBlock", required: false)
</head>
<body>
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner bg-brand-gradient">
            <div class="page-content-wrapper bg-transparent m-0">
                <partial name="~/Areas/Authentication/Views/Shared/_PageHeader.cshtml" />
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    <!-- BEGIN Color profile -->
    <!-- this area is hidden and will not be seen on screens or screen readers -->
    <!-- we use this only for CSS color reference for JS stuff -->
    <partial name="~/Views/Shared/_ColorProfile.cshtml" />
    <!-- END Color profile -->

    <partial name="~/Views/Shared/_ScriptsBasePlugins.cshtml" />
    @RenderSection("ScriptsBlock", required: false)
    <!--<script src="js/../script.js"></script>
    <script>
        $(document).ready(function () {

        });
    </script>-->
</body>
</html>