<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
    <div class="d-flex align-items-center container p-0">
        <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
            <a href="/Home/Index" class="page-logo-link press-scale-down d-flex align-items-center">
                <img src="~/img/logo.jpg" alt="MCS WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">Smart Mining</span>
            </a>
        </div>
        <a href="/Authentication/Login/ForgotPassword" class="btn-link text-white ml-auto">
            Forgot Password
        </a>
    </div>
</div>