<meta charset="utf-8">
<title>
    @ViewBag.PageTitle
</title>
<meta name="description" content="Page Titile">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<!-- base css -->
<partial name="~/Views/Shared/_CssBasePlugins.cshtml" />
<!-- Place favicon.ico in the root directory -->
<partial name="~/Views/Shared/_FavIcon.cshtml" />
<!--<link rel="stylesheet" media="screen, print" href="css/your_styles.css">-->