<partial name="~/Views/Shared/_PageLogo.cshtml" />

<!-- BEGIN PRIMARY NAVIGATION -->
<nav id="js-primary-nav" class="primary-nav" role="navigation">
    <partial name="~/Views/Shared/_NavFilter.cshtml" />
    <partial name="~/Views/Shared/_NavInfoCard.cshtml" />
    <partial name="~/Views/Shared/_NavMenu.cshtml" />
    <div class="filter-message js-filter-message bg-success-600"></div>
</nav>
<!-- END PRIMARY NAVIGATION -->
<!-- NAV FOOTER -->
<partial name="~/Views/Shared/_NavFooter.cshtml" />
<!-- END NAV FOOTER -->