<div class="subheader" hidden>
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-window'></i> @(ViewBag.PageHeader ?? "Page Header")
        <small>
            @(ViewBag.PageSubHeader ?? "Page Sub Header")
        </small>
    </h1>
</div>