.btn-dxdatagrid {
    font-size: 90% !important;
    padding: 1px 10px !important;
    font-weight: 600 !important;
    height: auto !important;

    /* Btn Default Smart Admin */
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,left bottom, left top,from(#f5f5f5),to(#f1f1f1));
    background-image: linear-gradient(to top,#f5f5f5,#f1f1f1);
    color: #444;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn-round {
    border-radius: 20px !important;
}