<style>
    div[data-size=A4] {
        background: #fff;
        display: block;
        /*margin: 0 auto;*/
        margin-bottom: .5cm;
        -webkit-box-shadow: 0 0 0.5cm rgb(0 0 0 / 50%);
        box-shadow: 0 0 0.5cm rgb(0 0 0 / 50%);
        background-size: cover;
        padding: 4rem;
        position: relative;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="state">
            <input name="recordId" type="hidden" value="@(ViewBag.DesDemInvoice != null ? ViewBag.DesDemInvoice.id : null)" />
        </div>
        <div class="row align-items-center mb-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <a href="/despatchdemurrage/invoice/index" class="btn btn-secondary float-right">Back to List</a>
            </div>
        </div>

        <div data-size="A4">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="fw-300 display-4 fw-500 color-primary-600 keep-print-font l-h-n m-0">
                        Invoice
                    </h3>
                    <div class="text-dark fw-700 h1 mb-g keep-print-font">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 d-flex">
                    <div class="table-responsive">
                        <table class="table table-clean table-sm align-self-end">
                            <tbody>
                                <tr>
                                    <td>
                                        Invoice Number:
                                    </td>
                                    <td>
                                        <span id="invoice-number">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Despatch Order Number:
                                    </td>
                                    <td>
                                        <span id="despatch-order-number">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Invoice Date:
                                    </td>
                                    <td>
                                        <span id="invoice-date">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Type:
                                    </td>
                                    <td>
                                        <span id="invoice-type">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Vessel:
                                    </td>
                                    <td>
                                        <span id="vessel-name">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Currency:
                                    </td>
                                    <td>
                                        <span id="invoice-currency">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4 ml-sm-auto">
                    <div class="table-responsive">
                        <table class="table table-sm table-clean text-right">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Bill to:</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong id="contractor_name">-</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table mt-3 mb-0" id="table-invoice">
                            <thead>
                                <tr>
                                    <th class="text-center border-top-0 table-scale-border-bottom fw-700"></th>
                                    <th class="border-top-0 table-scale-border-bottom fw-700">DesDem Contract</th>
                                    <th class="border-top-0 table-scale-border-bottom fw-700">SoF Number</th>
                                    <th class="border-top-0 table-scale-border-bottom fw-700">Allowed Time (Hrs)</th>
                                    <th class="border-top-0 table-scale-border-bottom fw-700">Actual Time (Hrs)</th>
                                    <th class="border-top-0 table-scale-border-bottom fw-700">Rate</th>
                                    <th class="text-right border-top-0 table-scale-border-bottom fw-700">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center fw-700" colspan="6">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ml-sm-auto">
                    <table class="table table-clean">
                        <tbody>
                            <tr class="table-scale-border-top border-left-0 border-right-0 border-bottom-0">
                                <td class="text-left keep-print-font">
                                    <h4 class="m-0 fw-700 h2 keep-print-font color-primary-700">Total</h4>
                                </td>
                                <td class="text-right keep-print-font">
                                    <h4 class="m-0 fw-700 h2 keep-print-font" id="total-amount">0</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script defer src="~/app/areas/despatch_demurrage/invoice/js/detail.js?_=@DateTime.Now.Ticks"></script>
}