<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <div class="col-sm-2" style="margin-top: 10px">From:</div>
                        <div class="col-sm-4" id="date-box1"></div>

                        <div class="col-sm-2" style="margin-top: 10px">To:</div>
                        <div class="col-sm-4" id="date-box2"></div>

                        <div class="col-sm-2" style="margin-top: 10px">
                            <button id="btnView" type="button" class="btn btn-info">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Breadcrumb
                </h2>

                <div class="panel-toolbar mr-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Port/Barging/UnloadingExcelExport">Download Template</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-upload-file">Upload Data</a>
                        </div>
                    </div>
                </div>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="dx-viewport">
                                <div class="demo-container">
                                    <div id="grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upload file -->
<div class="modal fade" id="modal-upload-file" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <input type="file" id="fUpload" name="files" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script defer src="~/app/areas/port/barging/js/unloading.js?_=@DateTime.Now.Ticks"></script>
}