<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Breadcrumb
                </h2>
                <div class="panel-toolbar ml-2">
                    <button type="button" id="Save" name="Save" class="btn btn-sm btn-primary">Save</button>
                </div>
                <div class="panel-toolbar ml-2">
                    <button type="button" id="Delete" name="Delete" class="btn btn-sm btn-danger">Delete</button>
                </div>
                <div class="panel-toolbar ml-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <form id="form-main">
                                <input type="hidden" id="id" name="id" value="@ViewBag.Id" />
                                <input type="hidden" id="equipment_type_id" name="equipment_type_id" />
                                <input type="hidden" id="equipment_type_name" name="equipment_type_name" />
                                <input type="hidden" id="capacity_uom_id" name="capacity_uom_id" />
                                <input type="hidden" id="capacity_uom_name" name="capacity_uom_name" />

                                <div class="form-group">
                                    <label class="form-label" for="EquipmentType">
                                        Equipment Type
                                    </label>
                                    <select data-placeholder="Equipment Type ..." class="form-control" id="EquipmentType"></select>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="equipment_name">Equipment Name</label>
                                    <input type="text" id="equipment_name" name="equipment_name" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="asset_number">Asset Number</label>
                                    <input type="text" id="asset_number" name="asset_number" class="form-control">
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="capacity">Capacity</label>
                                            <input type="text" id="capacity" name="capacity" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="CapacityUOM">
                                                Capacity Unit
                                            </label>
                                            <select data-placeholder="Capacity unit ..." class="form-control" id="CapacityUOM"></select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script defer src="~/app/areas/equipment/equipment_list/js/detail.js?_=@DateTime.Now.Ticks"></script>
}