<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Breadcrumb
                </h2>
                <div class="panel-toolbar ml-2">
                    <button type="button" id="Save" name="Save" class="btn btn-sm btn-primary">Save</button>
                </div>
                <div class="panel-toolbar ml-2">
                    <button type="button" id="Delete" name="Delete" class="btn btn-sm btn-danger">Delete</button>
                </div>
                <div class="panel-toolbar ml-2">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <form id="form-main">
                                <input type="hidden" id="id" name="id" value="@ViewBag.Id" />
                                <input type="hidden" id="country_id" name="country_id" />
                                <input type="hidden" id="country_name" name="country_name" />

                                <div class="form-group">
                                    <label class="form-label" for="Country">
                                        Country
                                    </label>
                                    <select data-placeholder="Country ..." class="form-control" id="Country"></select>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="province_name">Province/State Name</label>
                                    <input type="text" id="province_name" name="province_name" class="form-control">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script defer src="~/app/areas/general/province/js/detail.js?_=@DateTime.Now.Ticks"></script>
}