<div class="flex-1" style="background: url(img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                    Forgot Password
                    <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                        For security purpose, this request may need approval from system administrator
                    </small>
                </h2>
            </div>
            <div class="col-xl-6 ml-auto mr-auto">
                <div class="card p-4 rounded-plus bg-faded">
                    <form id="form-main">
                        <div class="form-group">
                            <label class="form-label" for="lostaccount">Your username or email</label>
                            <input type="email" id="lostaccount" class="form-control" required value="">
                            <div class="invalid-feedback">No, you missed this one.</div>
                            <div class="help-block">We will email you the instructions</div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-4 ml-auto text-right">
                                <button id="btn-forgot-password" type="button" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block text-center text-white">
        @DateTime.Now.Year © Smart Mining by&nbsp;<a href='https://www.adiraja-integrasi.com' class='text-white opacity-40 fw-500' title='www.adiraja-integrasi.com' target='_blank'>Adiraja Integrasi</a>
    </div>
</div>
@section ScriptsBlock
{
    <script defer src="~/app/areas/authentication/login/js/forgot_password.js?_=@DateTime.Now.Ticks"></script>
}